
.contents
  .wrapper
  = render 'shared/side_bar'
  .chat
    .tops
      .edit
        .edit__border
          Edit
      .top
        .top__name
          group-name
        .top__member
          members
      
    .mains
      .main
        .main__user
          user-name
        .main__date
          2019/10/15 07:28:45
      .comments
        comments
    
    .footer
      .form
        .type-box
          .type-box__text
            type a message
            .type-box__border
          .type-box__image
            %form{:action => "./filesend.cgi", :enctype => "multipart/form-data", :method => "post"}
              %label
                %span.filelabel
                  = fa_icon 'image'
                %input#filesend{:name => "datafile", :type => "file"}/

        .sending
          .sending__border
            SEND