.side-bar
    .menus
      .menu
        .menu__user
          = current_user.name
        .menu__icon
          .menu__icon--edit
            =link_to do 
              = fa_icon 'edit', class: 'icon'
              %span<>
          .menu__icon--cog
            =link_to edit_user_path(current_user) do 
              = fa_icon 'cog', class: 'icon'
              %span<>
    .groups
      .group
        .group__name
          group-name
        .group__comments
          comments