.side-bar{
  height: 100%;
  width: 300px;
  float: left;
  .menus{
    background-color: #253141;
    height: 82px;
    padding-left: 20px;
    .menu{
      line-height: 82px;
      display: flex;
      list-style: none;
      padding-right: 20px;
      &__user{
        font-size: 16px;
        font-weight: bold;
        color: $white;
      }
      &__icon{
        display: flex;
        margin-left: auto;
        &--edit{
          margin-right: 5px;
        }
        i{
          color: $white;
        }
      }
      
    }

    
  }
  .groups{
    background-color: #2f3e51;
    height: calc(100% - 82px);
    padding-left: 20px;
    .group{
      &__name{
        font-size: 15px;
        font-weight: bold;
        color: $white;
        padding:20px 0px 5px 0px;
      }
      &__comments{
        font-size:11px;
        font-weight: bold;
        color: $white;
        padding: 0px 20px 40px 0px;
      }
    }
  }
}